@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,900&family=Poppins:ital,wght@0,300;0,500;0,600;1,400&display=swap');

/* Default styles */
body, h1, button, ul, * {
    margin:0;
    padding: 0;
    list-style: none;
    font-family: 'Merriweather', serif;
    background-color:#f5deb3;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}


/* timer section */
.time-remaining {
    float: right;
}

/* styles for button */
li.clicked {
    border: 2px solid blue;
}

button {
    padding: 10px 20px;
    display: block;
    background-color: grey;
    color: #fff;
    border: nones;
    cursor: pointer;
    margin: 0 auto;
}

#start-button {
    font-size: 1.2rem;
}

#submitscore, #savescore {
    margin-top: 20px;
}

.button:hover {
    background-color: #99246c;
}

#questionscontainer {
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    background-color:#f7f7f7;
    margin: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    cursor: pointer;
}

#result {
    margin: 20px;
    font-size: 20px;
    color: #333;
}

#quizTimer {
    font-size: 18px;
}

#submitScoreButton {
    display: none;
    background-color: #474947;
}

#highscoreInputName {
    display: none;
    padding: 10px;
}
/* Define initial style for buttons */

#answer {
    border: 2px solid #333;
    padding: 10 px 20px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.3s;
}

#answer:active {
    background-color: #333;
    color: #fff;
}

/* button style */
button {
    display: inline-block;
    font-family: sans-serif;
    background-color: #5e6df1;
    border-radius: 10px;
    border: 3px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    margin-top: 3px;
}

button:hover{
    box-shadow: 4px 3px 6px #4450bd;
}

#savedHighscores {
    display: none;
    background-color: #474947;  
}

#save-score:hover {
    background-color: #474947;
}

 